<head>
  <title>All albums</title>
</head>
<body>
  <h2>
    <li><a href="/">Go back to home</a></li>
  </h2>
  <h1>Here are all albums on the site!</h1>
  {% if albums %}
  <ul>
    {% for album in albums %}
    <!-- album: album_id, caption, date of creation, number of photos, owner  -->
    <li>
      Album ID {{album[0]}}:
      <a href="/open_album?album_id={{album[0]}}&isMyPhoto={{isMyPhoto}}">{{album[1]}}</a>, {{album[3]}}
      photo(s), created on {{album[2]}}, owner: {{album[4]}}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</body>
