<head>
  <title>Friend recommendation</title>
</head>
<body>
  <h1>You may also like these users!</h1>
  <h2>
    <li><a href="/">Go back to home</a></li>
  </h2>
  {% for friend in friends%}
  <h3>
    <!-- don't touch this is a mess
    friend : score, user_id, first_name, last_name, email -->
    {{friend[2]}} {{friend[3]}}, {{friend[4]}}, number of common friends: {{friend[0]}} 
    <a href="/add_friend_friend_recommendation?to_user_id={{friend[1]}}"
      >Add this user as friend</a
    >
  </h3>
  {% endfor %}
</body>
