<head>
  <title>Gallery (all photos on the website)</title>
</head>
<body>
  <h2>
    <li><a href="/">Go back to home</a></li>
  </h2>
  <ul>
    {% for photo in photos %}
    <!-- photo: imgdata, photo_id, caption -->
    <li>
      {{photo[2]}}<br />
      <img
        src='data:image/jpg;base64, {{base64.b64encode(photo[0]).decode("ascii")}}'
      />
    </li>
    <a href="/comments?photo_id={{photo[1]}}"> [Comments] </a>
    {% if user_id != -1 and user_id != getOwnerId(photo[1]) and notLiked(user_id,photo[1]) %}
    <a href="/like?photo_id={{photo[1]}}&src=gallery"> [Like this Photo]</a>
    {% endif %}
    {% if not notLiked(user_id,photo[1]) %}
    <a href="/unlike?photo_id={{photo[1]}}&src=gallery">[Unlike]</a>
    {% endif %}
    <a href="/like_data?photo_id={{photo[1]}}">[Like data]</a>
    <br/>
    tags: {{getTags(photo[1])}} 
  </br>
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</br>
    </li>
    {% endfor %}
  </ul>
</body>
