<head>
  <title>Album {{album_name}}</title>
</head>
<body>
  {% if message %}
  <h1>{{message}}</h1>
  {% endif %}
  <h2>
    <li><a href="/">Go back to home</a></li>
  </h2>
  <ul>
    {% for photo in photos %}
<!-- photo: imgdata, photo_id, caption, album_id -->
    <li>
      {{photo[2]}}<br />
      <img
        src='data:image/jpg;base64, {{base64.b64encode(photo[0]).decode("ascii")}}'
      />
      {% if isMyPhoto(photo[1])%}
      <a
        href="/deletePhoto?photo_id={{photo[1]}}&album_id={{album_id}}&album_name={{album_name}}&src=open_album"
      >
        [Delete this photo]
      </a>
      {%endif%}
    </li>
    <a href="/comments?photo_id={{photo[1]}}"> [Comments] </a>
    {% if user_id != -1 and user_id != getOwnerId(photo[1]) and
    notLiked(user_id,photo[1]) %}
    <a href="/like?album_id={{album_id}}&src=open_album&photo_id={{photo[1]}}">
      [Like this Photo]</a
    >
    {% endif %} {% if not notLiked(user_id,photo[1]) %}
    <a href="/unlike?photo_id={{photo[1]}}&src=open_album&album_id={{album_id}}"
      >[Unlike]</a
    >
    {% endif %}
    <a href="/like_data?photo_id={{photo[1]}}">[Like data]</a>
    <br />
    tags: {{getTags(photo[1])}}
    </br>
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</br>
     {% endfor %}
  </ul>
</body>
