<head>
  <title>Search</title>
</head>
<body>
  <!-- Navigation Bar -->
  <div class="navbar">
    <li><a href="/">Go to home</a></li>
  </div>
  <form method="post" enctype="multipart/form-data" action="/search_tags">
    <label for="string">Please Enter Tags search:</label>
    <input type="text" name="str" required="true" /><br />
    <input type="submit" value="Search" />
  </form>

  <form method="post" enctype="multipart/form-data" action="/search_comment">
    <label for="string">Please Enter Comment for search:</label>
    <input type="text" name="str" required="true" /><br />
    <input type="submit" value="Search" />
  </form>
</body>
